.container {
    max-width: 960px;
    margin: 0 auto;
}

.about-bg {
    height: 900px;
    background: url("https://images8.alphacoders.com/127/1270570.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.about-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.about-text {
    color: #fff;
    text-align: center;
}

.about-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.about-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .about-text {
        padding: 0 2rem;
    }
}