.container {
    max-width: 960px;
    margin: 0 auto;
}

.home-bg {
    height: 750px;
    background: url("https://img.freepik.com/free-photo/autumn-season-mountain-fuji-kawaguchiko-lake-japan_335224-96.jpg?w=1380&t=st=1685672636~exp=1685673236~hmac=76202ea5dfbb409291dcd1d59d3671acf8899ce22e4cc0c91e4dc9016e95525a") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.home-con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.home-text {
    color: #fff;
    text-align: center;
}

.home-btn {
    background: #fff;
    display: inline-block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333;
    border: 2px solid transparent;
    transition: 0.3s;
    margin-top: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.home-btn:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .home-text {
        padding: 0 2rem;
    }
}